.cards__container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.card {
  position: relative;
  height: 60vh;
  width: 40vw;
  max-width: 85vw;
  box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.card h3 {
  position: absolute;
  bottom: 0;
  padding: 5px;
  color: aliceblue;
}
.swipe {
  position: absolute;
  cursor: pointer;
}
